// Multilingual hotfixes
.multilingual {
    .join-now-cta span.single-line:last-of-type {
        width: 100%;
        text-align: center;
        line-height: 1.1;
        padding: 0 0 3px;
        margin: 0;
        @include bp-lg {
            @include font-size(20px);
            line-height: 1.1;
            padding: 0 0 3px;
        }
        @include bp-md {
            padding: 0;
        }
    }
    .cta h2:nth-of-type(1),
    .cta h2:nth-of-type(2),
    .cta h2:nth-of-type(3) {
        @include font-size(22px);
        line-height: 1.2;
        padding: 0 32px 0 7px;
        @include bp-lg {
            @include font-size(17px);
            line-height: 1.2;
            padding: 0 25px 0 0;
        }
        @include bp-md {
            @include font-size(20px);
            line-height: 1.2;
            padding: .15em 0 .5em;
        }
    }
    .cta p {
        @include font-size(16px);
        line-height: 1.2;
        padding: 0 32px 0 7px;
        @include bp-lg {
            @include font-size(14px);
            line-height: 1.2;
        }
        @include bp-md {
            @include font-size(15px);
            padding: 0;
        }
    }
}

.flex-center {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 100%;
    transform: translateY(-50%);
    @include bp-md {
        left: 0;
    }
    .btn {
        @include bp-lg {
            @include font-size(17px);
        }
    }
}
