// Colours
$dark-rhino: #314060;
$rhino: #303f60;
$crimson: #e31836;
$comet: #596682;
$husk: #bda163;
$supernova: #ffcf01;
$cod-gray: #1c1c1c;
$emperor: #504f4f;
$boulder: #7d7b7b;

$white: #fff;
$black: #000;

// Z-index
$z-header: 1;
$z-girl-left: 2;
$z-girl-right: 2;
$z-red-chip-left: 0;
$z-red-chip-right: 0;
$z-card-symbols-right: 2;
$z-blue-chip-right: 0;
$z-footballer-right: 3;
$z-footballer-left: 2;
$z-box: 1;
$z-matches-table: 3;
$z-matches-table-btn: 3;
$z-casino-interactive-girl-right-md: 1;
$z-casino-interactive-cards-right-md: 0;
$casino-interactive-h1-md: 2;
$z-video-overlay: 10;
$z-video: 18;
$z-front-card: 1;