<div class="ctas fw">
    <section class="inner">
        <div class="cta">
            <div class="para"></div>
            <span>1</span>
            <h2>THAM GIA</h2>
            <p>M88 CASINO NGAY </p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>2</span>
            <h2>NHẬN</h2>
            <p>100% THƯỞNG CHÀO MỪNG</p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>3</span>
            <h2>THẮNG LỚN</h2>
            <p>TẠI TRÒ CHƠI CASINO YÊU THÍCH</p>
        </div>
        <div class="join-now-cta">
            <div class="para"></div>
            <div class="flex-center">
                <div class="center-mob">
                    <span class="single-line">100% thưởng chào mừng</span>
                </div>
                <a href="#" class="btn">
                    <div class="sheen"></div>Tham Gia Ngay</a>
            </div>
        </div>
    </section>
</div>
