<footer>
    <div class="fw footer-top">
        <div class="inner">
            <p>Điền mã khuyến mãi tại mục Chuyển Quỹ với mức tiền gửi tối thiểu 200VND.</p>
        </div>
    </div>
    <div class="fw footer-bottom">
        <div class="inner">
            <span>Phương Thức Thanh Toán:</span>
            <div class="payment-links">
                <a href="#">
                    <img src="dist/assets/img/neteller.png" alt="">
                </a>
                <a href="#">
                    <img src="dist/assets/img/paynet.png" alt="">
                </a>
                <a href="#">
                    <img src="dist/assets/img/poli.png" alt="">
                </a>
                <a href="#">
                    <img src="dist/assets/img/ninepay.png" alt="">
                </a>
            </div>
            <p>M88.com cam hết hỗ trợ <a href="#">Chơi có Trách Nhiệm</a><img src="dist/assets/img/18-plus.png" alt=""></p>
        </div>
    </div>
</footer>
<script src="dist/assets/js/main.min.js"></script>
</body>

</html>
