<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>M88 Betting</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="72x72" href="dist/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="dist/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="dist/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="dist/assets/favicons/manifest.json">
    <link rel="mask-icon" href="dist/assets/favicons/safari-pinned-tab.svg" color="#e31836">
    <link rel="shortcut icon" href="dist/assets/favicons/favicon.ico">
    <meta name="msapplication-config" content="dist/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#e31836">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
    	<a href=""><img src="dist/assets/img/svg/logo.svg" alt=""></a>
    </header>
