<div class="heading-wrapper">
    <h1 class="heading">
        <span class="h1-extra-extra-small">Bermain dan buktikan Anda dapat mengalahkan live dealer sekarang!</span>
    </h1>
    <div class="cards-wrapper">
        <div data-card="player" class="card-wrapper">
            <div class="card">
                <div class="card-face front"><img src="dist/assets/img/svg/ace-heart.svg" alt=""><span>Player</span></div>
                <div class="card-face back"><img src="dist/assets/img/svg/back-of-card.svg" alt=""></div>
            </div>
        </div>
        <div data-card="dealer" class="card-wrapper">
            <div class="card">
                <div class="card-face front"><img src="dist/assets/img/svg/ace-spade.svg" alt=""><span>Dealer</span></div>
                <div class="card-face back"><img src="dist/assets/img/svg/back-of-card.svg" alt=""></div>
            </div>
        </div>
        <div data-card="tie" class="card-wrapper">
            <div class="card">
                <div class="card-face front"><img src="dist/assets/img/svg/ace-diamond.svg" alt=""><span>Tie</span></div>
                <div class="card-face back"><img src="dist/assets/img/svg/back-of-card.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>
