<div class="ctas fw">
    <section class="inner">
        <div class="cta">
            <div class="para"></div>
            <span>1</span>
            <h2>GABUNG</h2>
            <p>DI M88 SPORTS SEKARANG</p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>2</span>
            <h2>KLAIM</h2>
            <p>100% WELCOME BONUS ANDA</p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>3</span>
            <h2>MENANG BESAR</h2>
            <p>DI OLAHRAGA FAVORIT ANDA</p>
        </div>
        <div class="join-now-cta">
            <div class="para"></div>
            <div class="flex-center">
                <div class="center-mob">
                    <span class="single-line">Bonus Sign Up 100%</span>
                </div>
                <a href="#" class="btn">
                    <div class="sheen"></div>Join Sekarang</a>
            </div>
        </div>
    </section>
</div>
