<div class="ctas fw">
    <section class="inner">
        <div class="cta">
            <div class="para"></div>
            <span>1</span>
            <h2>JOIN</h2>
            <p>M88 LIVE CASINO TODAY</p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>2</span>
            <h2>CLAIM</h2>
            <p>YOUR 100% SIGN UP BONUS</p>
        </div>
        <div class="cta">
            <div class="para"></div>
            <span>3</span>
            <h2>WIN BIG</h2>
            <p>ON YOUR FAVORITE CASINO GAMES</p>
        </div>
        <div class="join-now-cta">
            <div class="para"></div>
            <div class="center-mob">
                <span>100%</span>
                <span>SIGN UP <span>BONUS</span></span>
            </div>
            <a href="#" class="btn"><div class="sheen"></div>JOIN NOW</a>
        </div>
    </section>
</div>
