@@include('./partials/multilingual/english/_header.html')
<div class="menu-wrapper">
    <h1>Menu</h1>
    <h2>English</h2>
    <ul>
        <li><a href="english-casino-static.html">Casino Static</a></li>
        <li><a href="english-sports-interactive.html">Sports Interactive</a></li>
        <li><a href="english-casino-interactive.html">Casino Interactive</a></li>
    </ul>
    <h2>Bahasa</h2>
    <ul>
        <li><a href="bahasa-casino-static.html">Casino Static</a></li>
        <li><a href="bahasa-sports-interactive.html">Sports Interactive</a></li>
        <li><a href="bahasa-casino-interactive.html">Casino Interactive</a></li>
    </ul>
    <h2>Vietnamese</h2>
    <ul>
        <li><a href="vietnamese-casino-static.html">Casino Static</a></li>
        <li><a href="vietnamese-sports-interactive.html">Sports Interactive</a></li>
        <li><a href="vietnamese-casino-interactive.html">Casino Interactive</a></li>
    </ul>
    <h2>Thai</h2>
    <ul>
        <li><a href="thai-casino-static.html">Casino Static</a></li>
        <li><a href="thai-sports-interactive.html">Sports Interactive</a></li>
        <li><a href="thai-casino-interactive.html">Casino Interactive</a></li>
    </ul>
    <h2>Chinese</h2>
    <ul>
        <li><a href="chinese-casino-static.html">Casino Static</a></li>
        <li><a href="chinese-sports-interactive.html">Sports Interactive</a></li>
        <li><a href="chinese-casino-interactive.html">Casino Interactive</a></li>
    </ul>
</div>
