<div class="matches-table">
    <table>
        <tr>
            <td>4/1</td>
            <td>Tottenham Hotspur</td>
            <td class="date">Apr 31</td>
            <td>Manchester United</td>
            <td>3/1</td>
        </tr>
        <tr>
            <td>4/1</td>
            <td>Tottenham Hotspur</td>
            <td class="date">Apr 31</td>
            <td>Manchester United</td>
            <td>3/1</td>
        </tr>
        <tr>
            <td>4/1</td>
            <td>Tottenham Hotspur</td>
            <td class="date">Apr 31</td>
            <td>Manchester United</td>
            <td>3/1</td>
        </tr>
    </table>
    <a href="#" class="btn">Join now</a>
</div>
