<div class="video-overlay"></div>
<video muted controls id="player1">
    <source src="media/player/O2_G1_P_01.webm" type="video/webm">
    <source src="media/player/O2_G1_P_01.mp4" type="video/mp4">
    <source src="media/player/O2_G1_P_01.ogv" type="video/ogg"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
<video muted controls id="player2">
    <source src="media/player/O2_G3_P_01.webm" type="video/webm">
    <source src="media/player/O2_G3_P_01.ogv" type="video/ogg">
    <source src="media/player/O2_G3_P_01.mp4" type="video/mp4"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
<video muted controls id="dealer1">
    <source src="media/dealer/O2_G1_B_01.webm" type="video/webm">
    <source src="media/dealer/O2_G1_B_01.ogv" type="video/ogg">
    <source src="media/dealer/O2_G1_B_01.mp4" type="video/mp4"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
<video muted controls id="dealer2">
    <source src="media/dealer/O2_G3_B_02.webm" type="video/webm">
    <source src="media/dealer/O2_G3_B_02.ogv" type="video/ogg">
    <source src="media/dealer/O2_G3_B_02.mp4" type="video/mp4"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
<video muted controls id="tie1">
    <source src="media/tie/O2_G1_T_01.webm" type="video/webm">
    <source src="media/tie/O2_G1_T_01.ogv" type="video/ogg">
    <source src="media/tie/O2_G1_T_01.mp4" type="video/mp4"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
<video muted controls id="tie2">
    <source src="media/tie/O2_G3_T_02.webm" type="video/webm">
    <source src="media/tie/O2_G3_T_02.ogv" type="video/ogg">
    <source src="media/tie/O2_G3_T_02.mp4" type="video/mp4"> I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
</video>
